
<!-- AJOUTER -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic">Nouveau Profil</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      <div class="form-group">
        <label for="nom">nom :</label>
        <input type="text"
        required

        ng-paste="$event.preventDefault();"
        minlength=2
        maxlength=30
        name="nom"
        (keypress)="keyPressAlphabitique($event)"
        #nom = "ngModel"
        ngModel
        id="nom"  autocomplete="off" class="form-control" placeholder="nom">
      </div>
      <div>
        <div *ngIf = "nom.touched">
          <div *ngIf="nom.errors?.required"> This field is required </div>
          <div *ngIf="nom.errors?.minlength"> This field must have at leat 2 charactres </div>

        </div>
      </div>
    
      
      
      <div class="form-group mt-3">
        <input type="submit" value="Register" class="btn btn-primary w-100" (click)="modal.close('Save click')">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
<!-- AJOUTER -->

<!-- MODIFIER -->
<ng-template #contentt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic">Modifier Profil</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #modifierForm="ngForm" (ngSubmit)="modifierProfil(modifierForm)">


      <div class="form-group">
        <label for="nom">nom :</label>
        <input type="text"
        required
          
        minlength=2
        maxlength=30
        name="nom"
        (keypress)="keyPressAlphabitique($event)"
        #nom [(ngModel)]="updateeProfil.nom"
        id="nom"  autocomplete="off" class="form-control" placeholder="nom">
      </div>
      <div>
        <div *ngIf = "nom.touched">
          <div *ngIf="nom.errors?.required"> This field is required </div>
          <div *ngIf="nom.errors?.minlength"> This field must have at leat 2 charactres </div>

        </div>
      </div>
      
      <div class="form-group mt-3">
        <input type="submit" value="Modifier" class="btn btn-primary w-100" (click)="modal.close('Save click')">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
<!-- MODIFIER -->




<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2> <b>Profil</b></h2>
        </div>
        <div *ngIf="role === 'MODERATEUR' && societecnct!==null" class="col-sm-6">
         <a (click)="open(content)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Nouveau Profil</span></a>
        </div>
        
        <div *ngIf="role === 'ADMIN' " class="col-sm-6">
           <a (click)="open(content)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Nouveau Application</span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      
      <thead>


        <tr>


          
            <th *ngIf="role === 'MODERATEUR' && societecnct===null"> <span value="nom" style="cursor: pointer;" (click) = "trier($event)">
              Societe
            </span>   </th>
          <th>
              <span value="nom" style="cursor: pointer;" (click) = "trier($event)">
                Nom
              </span>   </th>
               
         
          

            <th *ngIf="role === 'MODERATEUR' && societecnct!==null">Actions</th>

          
          

            <th *ngIf="role === 'ADMIN' ">Actions</th>

            
        </tr>
          







      </thead>

      <tbody>



        <tr *ngFor="let profil of societeChoisie | paginate: { itemsPerPage: 10, currentPage: page, totalItems:totalLenght }">
          
            <td *ngIf="role === 'MODERATEUR' && societecnct===null">{{profil.societeDTO.nom}}</td>
          
          <td>{{profil.nom}}</td>
          

            <td *ngIf="role === 'MODERATEUR' && societecnct!==null">
              <a (click)="modifier(contentt, profil)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="deleteProfil(profil)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
            </td>
          

            <td *ngIf="role === 'ADMIN' ">
              <a (click)="modifier(contentt, profil)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a (click)="deleteProfil(profil)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
            </td>
      </tr>


        
      </tbody>
    </table>
    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

  </div>
</div>