<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Utilisateur Historique</div>
    <div class="page__content-data position-absolute">
       <div class="card" style="padding: 20px; margin-top :30%; width: 120%; ">
        
        <div class="card-header" style="padding: 10px;">
          </div>
          <div class="card-body">
          <table class="table table-bordered my-3 w-100">
            <thead>
             
                  
                <tr>
                  <th>
                    <span value="type" style="cursor: pointer;" (click) = "trier($event)">
                       Nom
                    </span>  
                    <!-- <mat-icon class="user-image-icon ml-1">
                      keyboard_arrow_down</mat-icon> -->
                </th>
                <th>
                  <span value="type" style="cursor: pointer;" (click) = "trier($event)">
                     Entite
                  </span>  
                  <!-- <mat-icon class="user-image-icon ml-1">
                    keyboard_arrow_down</mat-icon> -->
              </th>
                  <th>
                    <span value="type" style="cursor: pointer;" (click) = "trier($event)">
                      profil
                    </span>  
                    <!-- <mat-icon class="user-image-icon ml-1">
                      keyboard_arrow_down</mat-icon> -->
                </th>
                
               
                <th>
                  <span value="statut" style="cursor: pointer;" (click) = "trier($event)">
                    Cree Par
                  </span>  
                  <!-- <mat-icon class="user-image-icon ml-1">
                    keyboard_arrow_down</mat-icon> -->
                </th><th>
                  <span value="statut" style="cursor: pointer;" (click) = "trier($event)">
                    Cree Le
                  </span>  
                  <!-- <mat-icon class="user-image-icon ml-1">
                    keyboard_arrow_down</mat-icon> -->
                </th> 
                <th>
                  <span value="statut" style="cursor: pointer;" (click) = "trier($event)">
                    Date Debut
                  </span>  
                  <!-- <mat-icon class="user-image-icon ml-1">
                     keyboard_arrow_down</mat-icon> -->
                </th><th>
                  <span value="statut" style="cursor: pointer;" (click) = "trier($event)">
                    Date Fin
                  </span>  
                  <!-- <mat-icon class="user-image-icon ml-1">
                    keyboard_arrow_down</mat-icon> -->
                </th>
                
              </tr>
            </thead>
            <tbody class="tbody">
              <tr>
                  <!-- <td>{{societe.typeSocieteDTO.nom}}</td>
                  <td>{{societe.nom}}</td>
                  <td>{{societe.code}}</td>
                  <td>{{societe.nomAbrege}}</td>
                  <td>{{societe.statut}}</td> -->
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td> 
                  <td></td>
                  <td></td>
                  <td></td>
                  
                <!-- <td><button type="button" class="btn btn-primary" (click)="modifier(contentt, typeentite)">Modifier</button></td>
                <td><button type="button" class="btn btn-danger" (click)="deleteEntite(entite)">Suprimer</button></td>
                <td><button type="button" class="btn btn-danger" (click)="del(entite)">Suprimer</button></td> -->
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>




</div>
