
      
  <!-- AJOUTER -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic">Nouvelle Application</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <div class="form-group">
          <label for="nom">Nom :</label>
          <input type="text"
          required
  
          ng-paste="$event.preventDefault();"
          minlength=2
          maxlength=30
          name="nom"
          (keypress)="keyPressAlphabitique($event)"
          #nom = "ngModel"
          ngModel
          id="nom"  autocomplete="off" class="form-control" placeholder="nom">
        </div>
        <div>
          <div *ngIf = "nom.touched">
            <div *ngIf="nom.errors?.required"> Ce champ est requis </div>
            <div *ngIf="nom.errors?.minlength"> Ce champ doit avoir au moins 2 caractères </div>
  
          </div>
        </div>

        <div class="form-group">
            <label for="description">Description :</label>
            <input type="text"   #description (ngModel)="description" name="description" id="description" class="form-control"
              placeholder="description">
          </div>
      
        
        
        <div class="form-group mt-3">
          <input type="submit" value="Ajouter" class="btn btn-primary w-100" (click)="modal.close('Save click')">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
    </div>
  </ng-template>
  <!-- AJOUTER -->
  
  <!-- MODIFIER -->
  <ng-template #contentt let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic">Modifier Application</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #modifierForm="ngForm" (ngSubmit)="modifierProfil(modifierForm)">
  
  
        <div class="form-group">
          <label for="nom">Nom :</label>
          <input type="text"
          required
            
          minlength=2
          maxlength=30
          name="nom"
          (keypress)="keyPressAlphabitique($event)"
          #nom [(ngModel)]="updateeProfil.nom"
          id="nom"  autocomplete="off" class="form-control" placeholder="nom">
        </div>
        <div>
          <div *ngIf = "nom.touched">
            <div *ngIf="nom.errors?.required"> Ce champ est requis </div>
            <div *ngIf="nom.errors?.minlength"> Ce champ doit avoir au moins 2 caractères </div>
  
          </div>
        </div>
        

          <div class="form-group">
            <label for="description">Description :</label>
            <input type="text"   #description [(ngModel)]="updateeProfil.description" name="description" id="description" class="form-control"
              placeholder="description">
          </div>


        <div class="form-group mt-3">
          <input type="submit" value="Modifier" class="btn btn-primary w-100" (click)="modal.close('Save click')">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
    </div>
  </ng-template>
  <!-- MODIFIER -->
  

  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2> <b>Application</b></h2>
          </div>
          
          <div *ngIf="role === 'MODERATEUR' && societecnct!==null" class="col-sm-6">
            <a (click)="open(content)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Nouvelle Application</span></a>
          </div>
          
          
          <div *ngIf="role === 'ADMIN' " class="col-sm-6">  
              <a (click)="open(content)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Nouvelle Application</span></a>
            </div>
            
        </div>
      </div>
      <table class="table table-striped table-hover">
        
        <thead>


          <tr>
            

            <th *ngIf=" societecnct===null">
              <span value="nom" style="cursor: pointer;" (click) = "trier($event)">
                Société
              </span>  </th>
          
            
            <th>
                <span value="nom" style="cursor: pointer;" (click) = "trier($event)">
                  Nom
                </span>  </th>
            
              <th>
                  <span value="nom" style="cursor: pointer;" (click) = "trier($event)">
                      description
                  </span>  </th>
                  <th>
                    <span value="created_by " style="cursor: pointer;" (click) = "trier($event)">
                      Créé Par
                    </span>  
                  </th><th>
                    <span value="created_date" style="cursor: pointer;" (click) = "trier($event)">
                      Créé Le
                    </span>  
                  </th>
                  <th>
                    <span value="created_by " style="cursor: pointer;" (click) = "trier($event)">
                      Modifié Par
                    </span>  
                  </th>
                  <th>
                    <span value="created_date" style="cursor: pointer;" (click) = "trier($event)">
                      Modifié Le
                    </span>  
                  </th>

              <th *ngIf="role === 'MODERATEUR' && societecnct!==null">Actions</th>

            
            

              <th *ngIf="role === 'ADMIN' ">Actions</th>

              
          </tr>







        </thead>
  
        <tbody>



          <tr *ngFor="let profil of societeChoisie | paginate: { itemsPerPage: 8, currentPage: page, totalItems:totalLenght }">
              <td *ngIf=" societecnct==null">{{profil.societeDTO.nom}}</td>
            <td>{{profil.nom}}</td>
            <td>{{profil.description}}</td>
            <td>{{profil.createdBy}}</td>
            <td>{{profil.createdDate  | date:'mediumDate'}}</td>
            <td>{{profil.lastModifiedBy}}</td>
            <td>{{profil.lastModifedDate | date:'mediumDate'}}</td>
            

              <td *ngIf="role === 'MODERATEUR' && societecnct!==null">
                <a (click)="modifier(contentt, profil)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Modifier">&#xE254;</i></a>
                <a (click)="deleteProfil(profil)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
              </td>
            

              <td *ngIf="role === 'ADMIN' ">
                <a (click)="modifier(contentt, profil)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Modifier">&#xE254;</i></a>
                <a (click)="deleteProfil(profil)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
              </td>     
          </tr>
          
          
        </tbody>
      </table>
      <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
  
    </div>
  </div>