

        <div class="container">
            <div class="left">
              <div class="header">
                <h2 class="animation a1">Welcome Back</h2>
                <h4 class="animation a2">Log in to your account using email and password</h4>
              </div>
              <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">

              <div class="form">
                <input type="email" class="form-field animation a3" placeholder="Email Address" #login (ngModel)="login" id="login" name="login">
                <input type="password" class="form-field animation a4" placeholder="Password" id="password" #password (ngModel)="password" name="password"> 

                <button class="animation a6">LOGIN</button>
              </div>
              </form>
            </div>
            <div class="right"></div>
          </div>
          