

    
<!-- AJOUTER -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic">Nouveau Type Société</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="text"
        required

        ng-paste="$event.preventDefault();"
        minlength=2
        maxlength=30
        name="nom"
        (keypress)="keyPressAlphabitique($event)"
        #nom = "ngModel"
        ngModel
        id="nom"  autocomplete="off" class="form-control" placeholder="nom">
      </div>
      <div>
        <div *ngIf = "nom.touched">
          <div *ngIf="nom.errors?.required"> Ce champ est requis </div>
          <div *ngIf="nom.errors?.minlength"> Ce champ doit avoir au moins 2 caractères </div>

        </div>
      </div>
      <div class="form-group">
        <label for="code">code :</label>
        <input type="text"   #code (ngModel)="code" name="code" id="code" class="form-control"
          placeholder="code">
      </div>

      

      <div class="form-group">
        <label for="nomAbrege">Nom Abrégé :</label>
        <input type="text" #nomAbrege (ngModel)="nomAbrege" name="nomAbrege" id="nomAbrege" class="form-control"
          placeholder="nomAbrege">
      </div>
      
      <div class="form-group">
        <label for="statut">Statut :</label>
        <input type="hidden" #statut (ngModel)="statut" name="statut" id="statut" class="form-control"
          placeholder="statut">
      </div>
      <div class="form-group mt-3">
        <input type="submit" value="Ajouter" class="btn btn-primary w-100" (click)="modal.close('Save click')">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
  </div>
</ng-template>
<!-- AJOUTER -->

<!-- MODIFIER -->
<ng-template #contentt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic">Modifier Type Société</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #modifierForm="ngForm" (ngSubmit)="modifierTypesociete(modifierForm)">


      <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="text"
        required
          
        minlength=2
        maxlength=30
        name="nom"
        (keypress)="keyPressAlphabitique($event)"
        #nom [(ngModel)]="updateTypeSociete.nom"
        id="nom"  autocomplete="off" class="form-control" placeholder="nom">
      </div>
      <div>
        <div *ngIf = "nom.touched">
          <div *ngIf="nom.errors?.required">  Ce champ est requis </div>
          <div *ngIf="nom.errors?.minlength"> Ce champ doit avoir au moins 2 caractères </div>

        </div>
      </div>
      <div class="form-group">
        <label for="code">code :</label>
        <input type="text"   #code [(ngModel)]="updateTypeSociete.code" name="code" id="code" class="form-control"
          placeholder="code">
      </div>

      

      <div class="form-group">
        <label for="nomAbrege">Nom Abrégé :</label>
        <input type="text" #nomAbrege [(ngModel)]="updateTypeSociete.nomAbrege" name="nomAbrege" id="nomAbrege" class="form-control"
          placeholder="nomAbrege">
      </div>
      
      <div class="form-group">
        <label for="statut">Statut :</label>
        <input type="text" #statut [(ngModel)]="updateTypeSociete.statut" name="statut" id="statut" class="form-control"
          placeholder="statut">
      </div>
      
      <div class="form-group mt-3">
        <input type="submit" value="Modifier" class="btn btn-primary w-100" (click)="modal.close('Save click')">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
  </div>
</ng-template>
<!-- MODIFIER -->
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2><b>Type Société</b></h2>
        </div>
        <div class="col-sm-6">
          <a (click)="open(content)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter Nouveau Type Société</span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      
      <thead>
        <tr>
          <th>
              <span value="nom" style="cursor: pointer;" (click) = "trier($event)">
                Nom
              </span>  
          </th>
          <th>
            
            <span value="code" style="cursor: pointer;" (click) = "trier($event)">
              code
            </span>  
          </th>
          <th>
            <span value="nomAbrege" style="cursor: pointer;" (click) = "trier($event)">
              Nom Abrégé
            </span>  
          </th>
          <th>
            <span value="statut" style="cursor: pointer;" (click) = "trier($event)">
              statut
            </span> 
          </th>
          <th>
            <span value="created_by " style="cursor: pointer;" (click) = "trier($event)">
              Créé Par
            </span>  
          </th><th>
            <span value="created_date" style="cursor: pointer;" (click) = "trier($event)">
              Créé Le
            </span>  
          </th>
          <th>
            <span value="created_by " style="cursor: pointer;" (click) = "trier($event)">
              Modifié Par
            </span>  
          </th>
          <th>
            <span value="created_date" style="cursor: pointer;" (click) = "trier($event)">
              Modifié Le
            </span>  
          </th>
          
          <th>Actions</th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let typeSociete of listTypeSociete | paginate: { itemsPerPage: 10, currentPage: page, totalItems:totalLenght }">
          <td>{{typeSociete.nom}}</td>
          <td>{{typeSociete.code}}</td>
          <td>{{typeSociete.nomAbrege}}</td>
          <td *ngIf="typeSociete.statut === 'active' "><span class="dot"></span></td>
          <td *ngIf="typeSociete.statut === 'deactive' "><span class="red"></span></td>

          <td>{{typeSociete.createdBy}}</td>
          <td>{{typeSociete.createdDate  | date:'mediumDate'}}</td>
          <td>{{typeSociete.lastModifiedBy}}</td>
          <td>{{typeSociete.lastModifedDate | date:'mediumDate'}}</td>
          <td>
            <a (click)="modifier(contentt, typeSociete)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Modifier">&#xE254;</i></a>
            <a (click)="deleteTypeSociete(typeSociete)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
          </td>
        </tr>
        
        
      </tbody>
    </table>
    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

  </div>
</div>