


<!-- AJOUTER -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic">Nouveau Societe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" >
      <div class="form-group">
        <input type="hidden" #typeSocieteDTO (ngModel)="typeSocieteDTO" name="typeSocieteDTO" id="typeSocieteDTO" class="form-control"
          placeholder="typeSocieteDTO">
      </div>
      <div class="form-group">
        <label for="type">Type :</label>

        <select id="type" nom="type" 
            class="form-control" #type (ngModel)="type"    (change)="typeSocieteChange(type.value)">
          <option selected  *ngFor="let type of listTypeSociete"    [value]="type.id">{{type.nom}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nom">nom :</label>
        <input type="text"
        required

        ng-paste="$event.preventDefault();"
        minlength=2
        maxlength=30
        name="nom"
        (keypress)="keyPressAlphabitique($event)"
        #nom = "ngModel"
        ngModel
        id="nom"  autocomplete="off" class="form-control" placeholder="nom">
      </div>
      <div>
        <div *ngIf = "nom.touched">
          <div *ngIf="nom.errors?.required"> This field is required </div>
          <div *ngIf="nom.errors?.minlength"> This field must have at leat 2 charactres </div>

        </div>
      </div>
      <div class="form-group">
        <label for="code">code :</label>
        <input type="text"   #code (ngModel)="code" name="code" id="code" class="form-control"
          placeholder="code">
      </div>

      <div>
        <div *ngIf = "code.touched">
          <div *ngIf="code.errors?.required"> This field is required </div>

        </div>
      </div>

      <div class="form-group">
        <label for="nomAbrege">Nom Abrege :</label>
        <input type="text" #nomAbrege (ngModel)="nomAbrege" name="nomAbrege" id="nomAbrege" class="form-control"
          placeholder="nomAbrege">
      </div>
      <div>
        <div *ngIf = "nomAbrege.touched">
          <div *ngIf="nomAbrege.errors?.required"> This field is required </div>

        </div>
      </div>
      <label for="nomAbrege">Localite :</label>
      
      <input   type="text" #statut (ngModel)="statut" name="statut" id="statut" autocomplete="off" class="form-control"
      placeholder="localite" list="cars" />
<datalist id="cars">
  <option   *ngFor="let type of listLocalite "    [value]="type.nom">{{type.nom}}</option>
  
</datalist>









      


      <div class="form-group mt-3">
        <input type="submit" value="Register" class="btn btn-primary w-100" (click)="modal.close('Save click')">
      </div>
      
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
<!-- AJOUTER -->

<!-- MODIFIER -->
<ng-template #contentt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic">Modifier  Societe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #modifierForm="ngForm" (ngSubmit)="modifiersociete(modifierForm)">



       <div class="form-group">
        <input type="hidden" #typeSocieteDTO (ngModel)="typeSocieteDTO" name="typeSocieteDTO" id="typeSocieteDTO" class="form-control"
          placeholder="typeSocieteDTO">
      </div>
      
      <div class="form-group">
        <label for="type">Type :</label>

        <select id="type" nom="type"  
            class="form-control" #type (ngModel)="type"    (change)="typeSocieteeChange(type.value)">
            <option      [value]="updateeSociete.typeSocieteDTO.id">{{updateeSociete.typeSocieteDTO.nom}}</option>
          <option   *ngFor="let type of listTypeSociete"    [value]="type.id">{{type.nom}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="nom">nom :</label>
        <input type="text"
        required
          
        minlength=2
        maxlength=30
        name="nom"
        (keypress)="keyPressAlphabitique($event)"
        #nom [(ngModel)]="updateeSociete.nom"
        id="nom"  autocomplete="off" class="form-control" placeholder="nom">
      </div>
      <div>
        <div *ngIf = "nom.touched">
          <div *ngIf="nom.errors?.required"> This field is required </div>
          <div *ngIf="nom.errors?.minlength"> This field must have at leat 2 charactres </div>

        </div>
      </div>
      <div class="form-group">
        <label for="code">code :</label>
        <input type="text"   #code [(ngModel)]="updateeSociete.code" name="code" id="code" class="form-control"
          placeholder="code">
      </div>

      <div>
        <div *ngIf = "code.touched">
          <div *ngIf="code.errors?.required"> This field is required </div>

        </div>
      </div>

      <div class="form-group">
        <label for="nomAbrege">Nom Abrege :</label>
        <input type="text" #nomAbrege [(ngModel)]="updateeSociete.nomAbrege" name="nomAbrege" id="nomAbrege" class="form-control"
          placeholder="nomAbrege">
      </div>
      <div>
        <div *ngIf = "nomAbrege.touched">
          <div *ngIf="nomAbrege.errors?.required"> This field is required </div>

        </div>
      </div>
      <div class="form-group">
        <label for="statut">Statut :</label>
        <input type="text" #statut [(ngModel)]="updateeSociete.statut" name="statut" id="statut" class="form-control"
          placeholder="statut">
      </div>
      
      <div class="form-group mt-3">
        <input type="submit" value="Modifier" class="btn btn-primary w-100" (click)="modal.close('Save click')">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
<!-- MODIFIER -->




<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2> <b>Societe</b></h2>
        </div>
        <div class="col-sm-6">
          <a (click)="open(content)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Nouveau Societe</span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      
      <thead>
        <tr>
          <th>
            <span value="nom" style="cursor: pointer;" (click) = "trier($event)">
              Type
            </span>    </th>
        <th>
          <span value="nom" style="cursor: pointer;" (click) = "trier($event)">
            Nom
          </span>  </th>
          <th>
            
            <span value="code" style="cursor: pointer;" (click) = "trier($event)">
              code
            </span>  </th>
          <th>
            <span value="nomAbrege" style="cursor: pointer;" (click) = "trier($event)">
              Nom Abrege
            </span>   </th>
          <th>
            <span value="statut" style="cursor: pointer;" (click) = "trier($event)">
              statut
            </span>  <th>
            <span value="created_by " style="cursor: pointer;" (click) = "trier($event)">
              Cree Par
            </span> </th>
            <th>
            <span value="created_date" style="cursor: pointer;" (click) = "trier($event)">
              Cree Le
            </span>  </th> 
          <th>
            <span value="created_by " style="cursor: pointer;" (click) = "trier($event)">
              Modifier Par
            </span> </th>
          <th>
            <span value="created_date" style="cursor: pointer;" (click) = "trier($event)">
              Modifier Le
            </span> </th>
          
          <th>Actions</th>
          
        </tr>
      </thead>


      <tbody>


      <tr *ngFor="let societe of listSociete | paginate: { itemsPerPage: 8, currentPage: page, totalItems:totalLenght }">
        <td>{{societe.typeSocieteDTO.nom}}</td>
        <td>{{societe.nom}}</td>
        <td>{{societe.code}}</td>
        <td>{{societe.nomAbrege}}</td>
        <td *ngIf="societe.statut === 'active' "><span class="dot"></span></td>
        <td *ngIf="societe.statut === 'deactive' "><span class="red"></span></td>
        <td>{{societe.createdBy}}</td>
        <td>{{societe.createdDate  | date:'mediumDate'}}</td>
        <td>{{societe.lastModifiedBy}}</td>
        <td>{{societe.lastModifedDate | date:'mediumDate'}}</td>
        <td>
            <a (click)="modifier(contentt, societe)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Modifier">&#xE254;</i></a>
            <a (click)="deleteSociete(societe)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
            <a (click)="detail(societe)" class="blur_circular" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Detail">&#xe3a2;</i></a>
          </td>
        </tr>
        
        
      </tbody>
    </table>
    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

  </div>
</div>